{% if latest_question_list %}
    <ul>
        <p> Aqui são listadas as enquentes</p>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>ERRO.</p>
{% endif %}